.TodoSearch {
    background: #F9FBFC;
    border-radius: 8px;
    border: 2px solid #7e8797;
    margin: 0 12px 24px;
    height: 48px;
    width: calc(100% - 35px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 200;
    color: #1E1E1F;
}

.TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 200;
}

.TodoSearch:focus {
    outline-color: #61DAFA;
}

.TodoSearch:disabled {
    opacity: 25%;
}